body{
    width: 1440px!important;
    height: 1024px;
    /* background-color: aquamarine; */
    margin: auto;
    /* background: linear-gradient(122.62deg, #C8CCCF 5.59%, #97A3A3 84.01%); */

}




#Container {
    width: 1440px!important;
    height: 1024px;
    background: #FFFFFF;
    margin: 10px auto 10px auto;
    background-image: url('img/Gradient\ bg.png');
    background-size: 100% 100%;
}
#top-img {
    position: relative;
    bottom: 40px;
    left: 985px;
}

#bottom-img {
    position: relative;
    bottom: -375px;
    left: -365px;
}
#starGold-img {
    position: relative;
    left: 1150px;
}

#star2-img {
    position: relative;
    top: 120px;
    right: 130px;
    width: 180px;
}

#star1-img {
    position: relative;
    top: -10px;
    left: -520px;
}
#starBlue-img {
    position: relative;
    top: -350px;
    left: -60px;
}
#txt-left {
    position: relative;
    top: 70px;
    left: 65px;
    width: 410px;
}
#txt-left P{
    font-size:22px ;
}

#txt-mid {
    position: relative;
    top: -505px;
    left: 550px;
    width: 330px;
    text-align: center;
}
#txt-mid article {
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}

#txt-mid P{
    font-size:27px ;
    text-align: center;
}
button{
    font-size: 22px;
    width: 182px;
    height: 66px;
    border-block:none;
    color: white;
    background-color: #363830;
    border-radius: 36px;
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;

}
#txt-right {
    position: relative;
    top: -550px;
    left: 990px;
    width: 410px;
}

#txt-right P{
    font-size:22px ;
}

