body{
    width: 1440px;
    height: 933px;
    /* background-color: aquamarine;  */
    margin: auto;
    padding: 1%;

}
h1{
    width: 40%;
    font-size: 58px;
    font-weight: 600;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: gray;
    width: 40%;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    display: inline;
    width: 13%;
    font-size: 20px;
    
    margin: 0% 5% 0% 0%;
    padding: 1.5% 1% 1.5% 1%;
    border-radius: 22px;

}

#black{
    background-color: black;
    color: white;
}

#white{
    background-color: white;
    color: black;
}

#footer{
    padding: 20px;
    border: solid;
    margin-top: 50px;
    width: 38%;
    border-color: black;
    border-radius: 24px;
    border-width: 1px;
}
.bImg{
    display: inline-block;
    margin-left: 10%;
}

#right{
    display: inline-block;
    position: relative;
    background-color: gray;
    width: 45%;
    height: 100%;
}

#rImg {
    max-width: 635px;
    max-height: 740px;
    position: absolute;
    display: inline-block;
    width: 40%;
    top: 2%;
    left: 50%;
}
