body{
    width: 1440px;
    height: 999px;
    margin: auto;
}
div{
   
    margin-top: 1%; 
    display: inline-block;
}
#img-container{
   width: 49%;
   /* background-color: rgb(238, 111, 32); */
}
#artical{   
    width: 45%;
    /* background-color: blueviolet; */
    padding-left: 4%;
    margin-left: 20px;
    /* padding-right: 1%; */
}
h1{
    font-size: 70px;
}
P{
    font-size: 26px;
}
#title{
    width: 80%;
}
#second{
    width: 80%;
}
button{
    background-color: black;
    width: 25%;
    font-size: 20px;
    color: white;
    margin-bottom: 15% ;
    padding: 3% 13px 3% 13px; 
    border-radius: 22px;

}
h2{
    padding-top: 20px;
}